{% extends 'mapping/layout.html' %}
{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col">
            <table class="table table-bordered table-hover">
                <thead class="thead-light">
                    <tr class="row">
                        <th class="col-sm-2 text-center">
                            <select id="inputErrorType" class="form-control">
                                <option selected disabled>Error Type - All</option>
                                <option>All</option>
                                {% for option in options%}
                                    <option>{{option.error_description}}</option>
                                {% endfor %}
                            </select>
                        </th>
                        <th class="col-sm-5 text-center">Error Description</th>
                        <th class="col-sm-1 text-center">CWE</th>
                        <th class="col-sm-1 text-center">Level 1</th>
                        <th class="col-sm-1 text-center">Level 2</th>
                        <th class="col-sm-1 text-center">Level 3</th>
                        <th class="col-sm-1 text-center">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="row">
                        {% for detail in details %}
                            <td class="col-sm-2 text-center">{{detail.error_id}}</td>
                            <td class="col-sm-5 text-center">{{detail.detail_description}}</td>
                            <td class="col-sm-1 text-right">{{detail.cwe_id}}</td>
                            <td class="col-sm-1"><select id="inputErrorLevel1" class="form-control">
                                {%if detail.level_1 == '0'%}
                                    <option selected>Yes</option>
                                    <option>No</option>
                                    <option>N/A</option>
                                {% elif detail.level_1 == '1' %}
                                    <option>Yes</option>
                                    <option selected>No</option>
                                    <option>N/A</option>
                                {% else %}
                                    <option>Yes</option>
                                    <option>No</option>
                                    <option selected>N/A</option>
                                {% endif %}
                                </select>
                            </td>
                            <td class="col-sm-1"><select id="inputErrorLevel2" class="form-control">
                                {%if detail.level_2 == '0'%}
                                    <option selected>Yes</option>
                                    <option>No</option>
                                    <option>N/A</option>
                                {% elif detail.level_2 == '1' %}
                                    <option>Yes</option>
                                    <option selected>No</option>
                                    <option>N/A</option>
                                {% else %}
                                    <option>Yes</option>
                                    <option>No</option>
                                    <option selected>N/A</option>
                                {% endif %}
                                </select>
                            </td>
                            <td class="col-sm-1"><select id="inputErrorLevel3" class="form-control">
                                {%if detail.level_3 == '0'%}
                                    <option selected>Yes</option>
                                    <option>No</option>
                                    <option>N/A</option>
                                {% elif detail.level_3 == '1' %}
                                    <option>Yes</option>
                                    <option selected>No</option>
                                    <option>N/A</option>
                                {% else %}
                                    <option>Yes</option>
                                    <option>No</option>
                                    <option selected>N/A</option>
                                {% endif %}
                                </select>
                            </td>
                            <td class="col-sm-1">
                                <button type="submit" class="btn btn-primary">Save</button>
                            </td>
                        {% endfor %}
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}